body {
    background-color: #EDF6F9;
    background-image: url("../img/individueleWolk.png");
    background-size: 100% 900px;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
}

.title {
    font-family: 'Bebas Neue', cursive;
}


header {
    display: flex;
    justify-content: center;
}

p {
    margin: 1vw;
}

.text {
    font-family: 'Bebas Neue', cursive;
    background-color: #FFCA9B;
    font-size: 3vw;
    position: relative;
    justify-content: center;
    padding-left: 50%;
}

.image-select-box {
    display: flex;
    flex-direction: column;
}


