body {
    background-color: #EDF6F9;
    background-image: url("../img/individueleWolk.png");
    background-size: 100% 900px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin:0;
    padding:0;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.main-section{
    background-color: white;
    width: 78%;
    padding: 31px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}

.buttons {
    margin-top: 75px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;

}

p {
    margin-top:0;
}

.button {
    background-color: #D8836F ;
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 400px;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    box-shadow: 5px 5px 5px #aaaaaa;
}

.submit {
    background-color: #D8836F ;
    color: black;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 5px 5px 5px #aaaaaa;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    padding: 7px 30px;
}

.submit:hover{
    background-color: #be664f;
}

.button:hover{
    background-color: #be664f;
}

.background-page-title {
    width: 82%;
    margin-top: 125px;
}

.page-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    font-weight: lighter;
    background-color: #D8836F;
    padding: 15px;
    color: white;
}

.error {
    color: red;
    font-size: medium;
}
