body {
    background-color: #EDF6F9;
    background-image: url("../img/individueleWolk.png");
    background-size: 100% 900px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


h1{
    margin:0;
    padding:0;
}

