body {
    background-color: #EDF6F9;
    background-image: url("../img/individueleWolk.png");
    background-size: 100% 900px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

h1{
    margin:0;
    padding:0;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.main-section{
    background-color: rgba(255, 255, 255, 0.6);
    width: 79%;
    padding: 31px;
    margin-top: 35px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    box-shadow: 3px 3px 3px #aaaaaa;
}

.city-form{
    display: flex;
    flex-direction: column;
    align-items: unset;
    width:100%;
}

.buttons {
    margin-top: 75px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;

}

.tile-content {
    margin-top:0;
    margin-bottom: 0;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 300px;
    margin-right: 10px;
}

.button {
    background-color: #D8836F ;
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 425px;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    box-shadow: 3px 3px 3px #aaaaaa;
}

.submit {
    background-color: #D8836F ;
    color: black;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 5px 5px 5px #aaaaaa;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    padding: 7px 30px;
    margin: 20px 0 0 0;
    max-width: 300px;
}

.submit:hover{
    background-color: #be664f;
}

.shoppingbuddy-tile{
    background-color: rgba(216, 131, 111, 0.36);
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 15px;
}

.list-shoppingbuddies{
    padding-left: 0;
    height: 20vw;
    overflow-y: scroll;
    margin-bottom: 0;
}

.button:hover{
    background-color: #be664f;
}

.background-page-title {
    width: 83%;
    margin-top: 115px;
}

.page-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    font-weight: lighter;
    background-color: #D8836F;
    padding: 15px;
    color: white;
}

.error {
    color: red;
    font-size: medium;
    margin-top: 5px;
}

.error-input{
    border-color: red;
}

.form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.no-result-message{
     margin-right: 40px;
}

.fav-button{
    border: none;
    background-color: #D8836F ;
    color: black;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #aaaaaa;
    font-size: 1em;
    font-family: 'Bebas Neue', cursive;
}

.fav-button:hover{
    background-color: #be664f;
}

.input {
    margin: 20px 20px 0 0;
    width: 70%;
    height: 35px;
    font-size: 1em;
    box-shadow: 3px 3px 3px #aaaaaa;
}

.city-field {
    background-image: url('../winkelmaatje/img/search.png');
    background-size: 25px 25px;
    background-position: 10px 6px;
    background-repeat: no-repeat;
    padding: 0 0 0 45px;
}

.top{
    margin:0 0 20px 0;
}

.contact-icon {
    width: 4%;
    max-height: 45px;
}

.modal {
    width: 60vw;
    /*opacity: 0;*/
    /*display: flex;*/
    align-items: center;
    box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.6);
    /*visibility: hidden;*/
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal[open] {
    transition: all 0.7s ease;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
    appearance: none;
    background: none;
    border: 0;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
