body {
    background-color: #EDF6F9;
    background-image: url("../img/individueleWolk.png");
    background-size: 100% 900px;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
}

header{
    position: absolute;
    width:82vw;
    height: 13vh;
    left: 149px;
    top: 161px;


    background: #808080;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.header-text{

    font-family: 'Bebas Neue', cursive;


    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 5vh;
    text-align: center;

    color: #FFFFFF;
}

.field{
    position: absolute;
    width: 82vw;
    height: 90vh;
    left: 149px;
    top: 301px;

    background: #FFFFFF;
    opacity: 0.5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.field-text {

    width: 651px;
    height: 90px;
    left: 175px;
    top: 319px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}










